<div>
  <app-linha>
    <app-visor></app-visor>
  </app-linha>

  <app-linha>
    <app-botao [valor] = "'0'"></app-botao> 
    <app-botao [valor] = "'1'"></app-botao>
    <app-botao [valor] = "'2'"></app-botao>
    <app-botao [valor] = "'3'"></app-botao>
    <app-botao [valor] = "'4'"></app-botao>
    <app-botao [valor] = "'5'"></app-botao>
    <app-botao [valor] = "'6'"></app-botao>
    <app-botao [valor] = "'7'"></app-botao>
    <app-botao [valor] = "'8'"></app-botao>
    <app-botao [valor] = "'9'"></app-botao>
    <app-botao [valor] = "'+'"></app-botao>
    <app-botao [valor] = "'-'"></app-botao>
    <app-botao [valor] = "'x'"></app-botao>
    <app-botao [valor] = "'='"></app-botao>
    <app-botao [valor] = "'/'"></app-botao>
  </app-linha>

</div>
